@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

:root {
    --orange: #ff7800;
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    --border: .2rem solid rgba(0,0,0,.1);
    --outline: .1rem solid rgba(0,0,0,.1);
    --outline-hover: .2rem solid var(--black);
}

* {
    font-family: 'Noto Sans KR';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    font-size: 2rem;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body {
    background: #eee;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border: .2rem solid var(--black);
    color: var(--black);
    cursor: pointer;
}

.btn:hover {
    background: var(--orange);
    color: #fff;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #fff;
    box-shadow: var(--box-shadow);
}

.header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}

.header .navbar a {
    font-size: 1.7rem;
    margin: 0 2.5rem;
    color: var(--black);
}

.header .navbar a:hover {
    color: var(--orange);
}

.header .icons div {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color: var(--black);
    font-size: 2rem;
    margin-right: .3rem;
    text-align: center;
}

.header .icons div:hover {
    background: var(--orange);
    color: #fff;
}

#menu-btn {
    display: none;
}

.header .search-form {
    position: absolute;
    right: 25rem;
    width: 20rem;
    height: 4.5rem;
    border-radius: .5rem;
    background: #fff;
    overflow: hidden;
    align-items: center;
    padding: 10px;
    background-color: rgba(0,0,0,.05);
    display: flex;
}

.header .search-form input {
    background-color: transparent;
    width: 100%;
}

/* .main-grid-box{
    margin: 2rem;
    margin-top: 10rem;
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 20rem;
}
.main-grid-box .grid-block{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-grid-box .grid-block div {
    font-size: 4rem;
    font-weight: 500;
} */

.section_wrapper {
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title_wrapper {
    width: 30%;
    height: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title_wrapper #title {
    font-size: 7rem;
    font-weight: 500;
}

.wave {
    position: absolute;
    width: 100%;
    height: 400px;
    background: url(wave_tropical.png);
}

#wave1 {
    animation: animate alternate 11s ease-out infinite;
    z-index: 1000;
    opacity: 0.8;
    animation-delay: 0s;
    bottom: 1vh;
    overflow-y: visible;
}

#wave2 {
    animation: animate2 alternate 9s ease-out infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 2vh;
}

#wave3 {
    animation: animate alternate 7s ease-out infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 3vh;
}

#wave4 {
    animation: animate2 alternate 5s ease-out infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: 0s;
    bottom: 4vh;
}

#wave5 {
    animation: animate-x 30s linear infinite;
    z-index: 1250;
    bottom: 0vh;
}

@keyframes animate {
    0% {
        background-position-x: 0;
        background-position-y: 0;
    }
    
    100% {
        background-position-x: 1000px;
        background-position-y: -150px;
        opacity: 0.1;
    }
}

@keyframes animate2 {
    0% {
        background-position-x: 0;
        background-position-y: 0;
    }

    100% {
        background-position-x: -1000px;
        background-position-y: -150px;
        opacity: 0.1;
    }
}

@keyframes animate-x {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 100vw;
    }
}

.section {
    height: 100vh;
    background-color: #13dfed;
    width: 100%;
}