@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

:root {
    --orange: #ff7800;
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    --border: .2rem solid rgba(0,0,0,.1);
    --outline: .1rem solid rgba(0,0,0,.1);
    --outline-hover: .2rem solid var(--black);
}

* {
    font-family: 'Noto Sans KR';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    font-size: 2rem;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body {
    background: rgb(215, 247, 255);
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    color: black;
    cursor: pointer;
    background: none;
}

.btn:hover {
    color: var(--orange);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: var(--box-shadow);
}

.header .logo {
    font-size: 3rem;
    font-weight: 900;
    color: var(--black);
}

.header .navbar a {
    font-size: 1.7rem;
    margin: 0 2.5rem;
    color: var(--black);
    font-weight: 100;
}

.header .navbar a:hover {
    color: var(--orange);
}

.section_wrapper {
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title_wrapper {
    width: 30%;
    height: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title_wrapper #title {
    font-size: 7rem;
    font-weight: 500;
}

.num_area {
    height: 15rem;
    width: 100%;
    padding: 0 2rem;
    display: grid;
    justify-content: center;
    margin: 1.5rem 0;
    grid-template-columns: repeat(auto-fill, minmax(20%, auto));
    overflow-y: scroll;
}

#dec {
    font-weight: 200;
}

.wave {
    position: absolute;
    width: 100%;
    height: 400px;
    background: url(wave_tropical.png);
}

#wave1 {
    animation: animate alternate 11s ease-out infinite;
    z-index: 1000;
    opacity: 0.8;
    animation-delay: 0s;
    bottom: 1vh;
    overflow-y: visible;
}

#wave2 {
    animation: animate2 alternate 9s ease-out infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 2vh;
}

#wave3 {
    animation: animate alternate 7s ease-out infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 3vh;
}

#wave4 {
    animation: animate2 alternate 5s ease-out infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: 0s;
    bottom: 4vh;
}

#wave5 {
    animation: animate-x 30s linear infinite;
    z-index: 1250;
    bottom: 0vh;
}

@keyframes animate {
    0% {
        background-position-x: 0;
        background-position-y: 0;
    }
    
    100% {
        background-position-x: 1000px;
        background-position-y: -150px;
        opacity: 0.1;
    }
}

@keyframes animate2 {
    0% {
        background-position-x: 0;
        background-position-y: 0;
    }

    100% {
        background-position-x: -1000px;
        background-position-y: -150px;
        opacity: 0.1;
    }
}

@keyframes animate-x {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 100vw;
    }
}

.section {
    padding: 3rem;
    height: 800px;
    background-color: #13dfed;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#section1 { 
    margin-top: 13rem;
}

.grid_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, auto));
    gap: 30px;
    overflow-y: scroll;
    width: 100%;
}

h3 {
    margin-bottom: 4rem;
}

.content_wrapper {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 30px;
    border-radius: 30px;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content_wrapper .content {
    display: flex;
    justify-content: space-between;
}

.button_in_content {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;

}

.button_in_content button {
    width: 100%;
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    border-radius: 10px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.3);
    transition: 0.5s;
    color: rgba(0, 0, 0, 0.7);
    border: none;
    font-size: 1.4rem;
    bottom: 10;
    text-align: center;
    line-height: 40px;
}

.button_in_content button:hover {
    background-color: var(--orange);
    color: white;
}

#section2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#section2 .button_wrapper {
    justify-content: space-between;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16%, auto));
    width: 100%;
}

.plastic {
    margin: 0.8rem 0.8rem;
    position: relative;
    display: inline-block;
    padding: 12px 12px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 10px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    transition: 0.5s;
    color: rgba(0, 0, 0, 0.7);
    border: none;
}

.plastic.ctrl {
    width: 80px;
}

.plastic:hover {
    background-color: var(--orange);
    color: white;
}

.icon_area {
    width: 100%;
    height: 200px;
    padding: 30px;
    border-radius: 10px;
    margin: 0.8rem;
}

.submit_button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.trash1 {
    width : 100px;
    height : 50px;

    position : relative;
    bottom : -13%;
    z-index : 100;

    background-image : url("./water-bottle.png");
    background-size : 100px;
}
.trash2 {
    width : 100px;
    height : 100px;

    position : relative;
    bottom : -10%;
    z-index : 100;

    background-image : url("./cup.png");
    background-size : 100px;
}
.trash3 {
    width : 100px;
    height : 100px;

    position : relative;
    bottom : -14%;
    z-index : 100;

    background-image : url("./bag_color.png");
    background-size : 100px;
}
.trash4 {
    width : 90px;
    height : 90px;

    position : relative;
    bottom : -20%;
    z-index : 100;

    background-image : url("./chips.png");
    background-size : 90px;
}