<header class="header">
    <a href="#" class="logo">LOGO</a>
    <nav class="navbar">
        <a href="#">나의 쓰레기섬</a>
        <a href="#">지출내역</a>
        <a href="#">소비 일기</a>
    </nav>
    <div class="icons">
        <div class="fas fa-user" id="login-btn"></div>
    </div>
</header>