<header class="header">
    <a href="#" class="logo">TRASH ISLAND</a>
    <nav class="navbar">
        <a href="#">나의 플라스틱섬</a>
        <a href="#section1">플라스틱 일기</a>
        <a href="#section2">버린 쓰레기 작성</a>
    </nav>
    <div class="icons">
        <div class="fas fa-user" id="login-btn"></div>
    </div>
</header>